<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Lista de Cotações</title>
</head>
<body>
<div layout:fragment="content" class="container">
			<a href="form.html" th:href="@{/cotacao/novo}">Nova Cotação de Produto</a>
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">mensagem</div>			
		<table class="table table-bordered table-striped">
			<thead> 
				<tr>
					<td>ID</td>
					<td>Vendedor</td>
					<td>Descrição</td>
					<td>Veiculo</td>
					<td>Ano</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${cotacoes.empty}">
					<td colspan="5">Sem pedidos</td>
				</tr>
				<tr th:each="cotacao : ${cotacoes}">
					<td th:text="${cotacao.id}">1</td>
					<td><a href="view.html" th:href="@{'/cotacao/' + ${cotacao.id}}"   th:text="${cotacao.vendedor != null} ? ${cotacao.vendedor.nome}"> nome </a></td>
					<td th:text="${cotacao.descricao}">descricao</td>
					<td th:text="${cotacao.veiculo}">veiculo</td>
					<td th:text="${cotacao.anoCarro}">ano</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>