<!DOCTYPE HTML>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Comunicador Jal Autopeças</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
	<link href="css/simple-sidebar.css" rel="stylesheet">
</head>

<body>
<div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><img src="images/logo.png" class="img-fluid" alt="Responsive image" style="width:40%;"> </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Cotação de Produtos</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Sugestão de Cadastro</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Orçamento Concorrência</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Sugestões Diversas</a>
      </div>
    </div>

<div class="container-fluid">

</div>
<!-- /.container -->
</div>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>