<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content" class="input-form">
		
		<div class="container">
		 <form id="produtoForm" th:action="@{/produto/(form)}" th:object="${produto}" action="#" method="post"  class="form-horizontal">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Erro de Validação</p>
			</div>
			<input type="hidden" th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'" />
			<div class="form-group">
			 <label class="control-label" for="vendedor">Vendedor:</label> 
			 <select class="col-sm-5"  th:field="*{vendedor}" >
                   <option th:each="vendedor :${todosVendedores}" 
                           th:value="${vendedor.id}" 
                           th:text="${vendedor.nome}"
                           />
             </select>
			</div>
			
			<div class="form-group">
			 <label class="control-label" for="text">Descrição:</label> 
			 <input class="col-sm-10" type="text" th:field="*{descricao}" th:class="${#fields.hasErrors('descricao')} ? 'field-error'" />
			 <label class="control-label" for="text">Veiculo:</label> 
			 <input class="col-sm-10" type="text" th:field="*{veiculo}" th:class="${#fields.hasErrors('veiculo')} ? 'field-error'" />
			 <label class="control-label" for="text">Modelo Veiculo:</label> 
			 <input class="col-sm-10" type="text" th:field="*{modelo}" th:class="${#fields.hasErrors('modelo')} ? 'field-error'" />
			</div>
			<div class="form-group">  
			 <label class="control-label col-sm-1" for="text">Ano:</label>
			 <input class="col-sm-10" th:field="*{ano}" th:class="${#fields.hasErrors('ano')} ? 'field-error'"/>
			</div>
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" value="Gravar" />
			</div>
			<br/>
			<a th:href="@{/produto/}" href="produto.html"> voltar </a>
		</form>
			</div>
	</div>
</body>
</html>